[submodule "submodules/hook_parallels"]
	path = submodules/hook_parallels
	url = https://git.samipsolutions.fi/ParallelsLab/Parells.git
	branch = hook-parallels
[submodule "submodules/insert_dylib"]
	path = submodules/insert_dylib
	url = https://git.samipsolutions.fi/ParallelsLab/insert_dylib.git
[submodule "submodules/rd_route"]
	path = submodules/rd_route
	url = https://git.samipsolutions.fi/ParallelsLab/rd_route.git
[submodule "submodules/mask"]
	path = submodules/mask
	url = https://git.samipsolutions.fi/ParallelsLab/mask.git
	branch = main
